* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  button {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p,
  input,
  textarea,
  select,
  option {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a:focus-visible,
  a:focus,
  a:visited {
    outline: none;
    box-shadow: none;
  }
  
  div,
  input,
  textarea,
  select,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span,
  a:focus {
    outline: none;
    box-shadow: none;
  }
  
  .clickable {
    cursor: pointer !important;
  }
  
  .text-primary {
    color: blue;
  }
  
  .text-secondary {
    color: #828296 !important;
  }
  
  .text-secondary-2 {
    color: #444c59 !important;
  }
  
  .text-error {
    color: #ff5500;
  }
  
  .text-success {
    color: #bfda8d !important;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-xs {
    font-size: 0.8rem !important;
  }
  
  .text-s {
    font-size: 0.875rem !important;
  }
  
  .text-lowercase {
    text-transform: lowercase !important;
  }
  
  .text-initial {
    text-transform: initial !important;
  }
  .p-1 {
    padding: 1rem !important;
  }
  .p-2 {
    padding: 2rem !important;
  }
  .p-3 {
    padding: 3rem !important;
  }
  
  .m-1 {
    margin: 1rem !important;
  }
  .m-2 {
    margin: 2rem !important;
  }
  .m-3 {
    margin: 3rem !important;
  }
  
  .py-1 {
    padding: 1rem 0 !important;
  }
  
  .py-2 {
    padding: 2rem 0;
  }
  
  .py-3 {
    padding: 3rem 0;
  }
  
  .pl-half {
    padding-left: 0.5rem !important;
  }
  
  .pl-1 {
    padding-left: 1rem !important;
  }
  
  .pl-2 {
    padding-left: 2rem !important;
  }
  
  .pr-1 {
    padding-right: 1rem !important;
  }
  
  .pr-2 {
    padding-right: 2rem !important;
  }
  
  .pb-1 {
    padding-bottom: 1rem !important;
  }
  
  .pb-2 {
    padding-bottom: 2rem;
  }
  
  .mt-1 {
    margin-top: 1rem !important;
  }
  
  .mr-1 {
    margin-right: 1rem !important;
  }
  
  .mr-2 {
    margin-right: 2rem !important;
  }
  
  .my-3 {
    margin: 3rem 0 3rem 0;
  }
  
  .my-2 {
    margin: 2rem 0 2rem 0;
  }
  
  .d-flex {
    display: flex;
  }
  
  .d-none {
    display: none !important;
  }
  
  .flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .text-bold {
    font-weight: bold !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-white {
    color: #ffffff;
  }
  .m-0 {
    margin: 0 !important;
  }
  .p-0 {
    padding: 0 !important;
  }
  
  .mt-0 {
    margin-top: 0rem !important;
  }
  .mb-0 {
    margin-bottom: 0rem !important;
  }
  
  .mt-2 {
    margin-top: 1rem !important;
  }
  
  .mb-2 {
    margin-bottom: 1rem !important;
  }
  
  .mr-2 {
    margin-right: 1rem;
  }
  
  .pt-1 {
    padding-top: 1rem !important;
  }
  
  .pt-2 {
    padding-top: 2rem !important;
  }
  
  .pt-3 {
    padding-top: 3rem !important;
  }
  
  .pb-1 {
    padding-bottom: 1rem !important;
  }
  
  .pb-2 {
    padding-bottom: 2rem !important;
  }
  
  .pb-3 {
    padding-bottom: 3rem !important;
  }
  
  .w-100 {
    width: 100%;
  }
  .h-100 {
    height: 100%;
  }
  
  .h-auto {
    height: auto;
  }
  
  .display-none {
    display: none;
  }
  
  .text-right {
    text-align: right;
  }
  
  .font-600 {
    font-weight: 600;
  }
  
  .font-500 {
    font-weight: 500;
  }
  
  .color-info {
    color: #8e96a2 !important;
  }
  
  .img-responsive {
    height: auto;
    width: 100%;
  }
  
  .div-overflow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  b {
    font-weight: 600 !important;
  }
  
  .font-second {
    font-family: 'Rockwell';
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  .jc-fs {
    display: flex;
    justify-content: flex-start;
  }
  .px-1 {
    padding: 0 1rem 0 1rem;
  }
  
  .converter__select {
    .react-dropdown-select {
      width: 168px;
      height: 46px;
      border-radius: 6px;
      background-color: white;
      border: none;
  
      &:focus,
      &:hover,
      &:focus-within {
        outline: none;
        box-shadow: none;
      }
  
      .react-dropdown-select-clear,
      .react-dropdown-select-dropdown-handle {
        margin: 0;
        svg {
          width: 20px;
          height: 20px;
        }
      }
  
      .react-dropdown-select-dropdown {
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 6px;
      }
    }
  }
  